WIFI_SSID="YOUR_WIFI_SSID"
WIFI_PASSWORD="YOUR_WIFI_PASSWORD"
OWM_API_KEY="YOUR_OWM_API_KEY"
BACKEND_URL="http://192.168.1.100:8000"
# Uncomment below to hardcode location, otherwise it auto-detects via IP
# LATITUDE="51.5074"
# LONGITUDE="-0.1278"
